<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<!-- Use LocalDB and relative App_Data path so the database works on another machine. -->
		<add name="con" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
		<add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
 <system.web>
   <sessionState timeout="30"></sessionState>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
